body{
	background-color: black;
}

#m-main{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#m-main h1{
	font-weight: bolder;
	margin-bottom: .5%;
	font-size: 4rem;
}

#m-main p{
	margin-top: .2%;
	font-size: 1.5rem;
}

#m-main h1,p{
	text-align: center;
	font-family: Bebas Neue;
	letter-spacing: .1rem;
	color: white;
}

#app-sp{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7%;
	text-align: center;
}

#app-sp h2{
	font-family: Questrial;
	color: white;
}

#app-sp .btn-style{
	width: 8%;
	height: 45px;
	border-radius: 1em;
	font-family: Questrial;
	font-weight: bolder;
	font-size: 1rem;
	color: whitesmoke;
	background-color: limegreen;
	margin-top: 1.3%;
}

#app-sp .btn-style:hover{
	cursor: pointer;
	color: black;
	border: solid;
	border-color: whitesmoke;
	transition: all .5s;
}

#app-sp .input-style{
	width: 17%;
	height: 30px;
	font-family: Questrial;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	border: solid;
	border-color: black;
	border-radius: 1em;
}

label{
	font-family: Questrial;
	font-size: 1.2rem;
	color: white;
	margin-top: 0.5%;
}


.radio-btn {
	margin-top: 2%;
	color: limegreen;
}

#id-resultado{
	font-family: Questrial;
	font-size: 4rem;
	color: white;
	font-weight: bolder;
}