body {
  background: url(../img/fondo.jpg);
}

h4,
h3,
h2,
a {
  font-family: Questrial;
  color: whitesmoke;
  font-weight: lighter;
  margin-top: 0.2%;
  margin-bottom: 0%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 5% 0% 5%;
  align-content: center;
  margin-bottom: 1%;
}

#logo-nav img {
  width: 15%;
}

#navig {
  display: flex;
  flex-direction: row;
  width: 60%;
}

#navig li {
  list-style-type: none;
  margin-right: 5%;
}

#navig li a {
  text-decoration: none;
  font-size: 1.1rem;
}

#selected {
  color: limegreen;
}

#m-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#m-main h1 {
  font-weight: bolder;
  margin-bottom: 0.5%;
  font-size: 4rem;
}

#m-main p {
  margin-top: 0.2%;
  font-size: 1.5rem;
}

#m-main h1,
p {
  text-align: center;
  font-family: Bebas Neue;
  letter-spacing: 0.1rem;
  color: white;
}

#app-sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  text-align: center;
}

#app-sp h2 {
  font-family: Questrial;
  color: white;
}

.btn-style {
  width: 8%;
  height: 45px;
  border-radius: 1em;
  font-family: Questrial;
  font-weight: bolder;
  font-size: 1rem;
  color: whitesmoke;
  background-color: limegreen;
  margin-top: 1.3%;
}

.btn-style:hover {
  cursor: pointer;
  color: black;
  border: solid;
  border-color: whitesmoke;
  transition: all 0.5s;
}

.input-style {
  width: 17%;
  height: 30px;
  font-family: Questrial;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: solid;
  border-color: black;
  border-radius: 1em;
}

label {
  font-family: Questrial;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  margin-top: 0.5%;
  text-align: center;
}

.radio-btn {
  margin-top: 2%;
  color: limegreen;
}

#id-resultado {
  font-family: Questrial;
  font-size: 4rem;
  color: white;
  font-weight: bolder;
}

.swal-overlay {
  background-color: rgba(50, 205, 50, 0.45);
}

.swal-modal {
  background-color: black;
}

.swal-title {
  font-family: Questrial;
  color: whitesmoke;
}

.swal-text {
  font-family: Questrial;
  color: whitesmoke;
}

.swal-button {
  background-color: limegreen;
}

#contAPItext {
  width: 30%;
}

#API-sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 5%;
}

#contenedor {
  margin-top: 5%;
  width: 40%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: whitesmoke;
  border-radius: 1em;
  font-family: Questrial;
  color: black;
  margin-bottom: 3%;
}

.char {
  display: flex;
  flex-direction: column;
  margin: 1% 0% 1% 0%;
  text-align: center;
}

.char h2 {
  color: black;
}

.char p {
  color: black;
  font-family: Questrial;
  font-size: 1.1rem;
}

.tenor-gif-embed a {
  width: 10%;
}
